.actions-layer {
  position: absolute;
  z-index: var(--z-actions);
  inset: 0;
  pointer-events: none;
}

.actions-layer__inner {
  position: relative;
  width: var(--workable-width);
  height: 100%;
  margin: 0 auto;
  pointer-events: none;
}
