.actions {
  position: absolute;
  z-index: var(--z-actions);
  inset: 0;
  pointer-events: none;
}

.actions__container {
  position: absolute;
  right: calc((100% - var(--workable-width)) / 2 + var(--content-margin-right));
  bottom: 42px;
  display: flex;
  gap: 8px;
  pointer-events: all;
}
