.video-overlay {
  position: absolute;
  z-index: var(--z-overlay);
  inset: 0;
}

.video-overlay__background {
  position: absolute;
  top: var(--bg-offset-top);
  left: 50%;
  width: var(--bg-width);
  height: var(--bg-height);
  background-image: url("../../assets/images-compressed/layout/layout-video.webp");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  transform: translateX(-50%);
}
