.splash {
  position: fixed;
  z-index: 80;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: var(--page-background);
  inset: 0;
}

.splash__video {
  display: block;
  width: auto;
  height: auto;
}

.splash__actions {
  position: absolute;
  z-index: 1;
  top: calc(var(--header-height) + var(--content-height) - 80px);
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
