.close-button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(100% + 10px);
}

.close-button .action-button {
  width: 41px;
  height: 37px;
}

.close-button .action-button__image {
  width: 100%;
  height: 100%;
}
