.gallery {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  inset: 0;
}

.gallery__unit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--gallery-margin-top);
}

.gallery__frame {
  position: relative;
  display: flex;
  width: var(--gallery-frame-width);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
  border: 5px solid var(--color-prada);
  aspect-ratio: 16 / 9;
}

.gallery__frame--video {
  border: none;
}

.gallery__frame--video .close-button {
  top: -19px;
  left: calc(100% - 5px);
}

.gallery__content {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__video-stub {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: var(--color-dark-text);
  color: var(--color-light);
}
