.gallery {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  inset: 0;
}

.gallery__unit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--gallery-margin-top);
}

.gallery__frame {
  position: relative;
  display: flex;
  width: var(--gallery-frame-width);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
  border: 5px solid var(--color-prada);
  aspect-ratio: 16 / 9;
}

.gallery__content {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  background: #000000;
  inset: 0;
}

.gallery__image,
.gallery__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
