.gallery-lockup {
  display: flex;
  width: var(--gallery-frame-width);
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.gallery-lockup__logo {
  width: 125px;
  height: 90px;
}

.gallery-lockup__now-playing {
  display: flex;
  height: 42px;
}

.gallery-lockup__now-playing svg {
  display: block;
  width: auto;
  height: 100%;
}
