.content-area {
  position: relative;
  z-index: 0;
  display: flex;
  overflow: visible;
  width: 100%;
  height: var(--content-height);
  justify-content: center;
}

.content-area__background {
  position: absolute;
  z-index: 0;
  top: -55px;
  left: 50%;
  display: block;
  width: 1920px;
  height: 1500px;
  background-image: url("../../assets/images/layout/layout.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  transform: translateX(-50%);
}

.content-area__workable {
  position: relative;
  z-index: 1;
  display: flex;
  width: min(100%, var(--workable-width));
  height: var(--workable-height);
  justify-content: flex-end;

  /* background-color: rgba(255, 0, 0, 0.1); */
}

.content-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 209px;
  gap: 2px;

  /* background-color: rebeccapurple; */
}

.content-detail__logo {
  width: 306px;
}

.content-detail__release-window {
  width: 394px;
}
