:root {
  --page-background: #ffffff;
  --header-height: 56px;
  --header-background: rgb(18 18 18);
  --content-height: 648px;
  --workable-width: 970px;
  --workable-height: 648px;
  --big-grey-box-width: 1280px;
  --big-grey-box-height: 1200px;
  --big-grey-box-background: rgb(31 31 31);

  background: var(--page-background);
  color: #111111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--page-background);
}

button {
  padding: 0;
  border: 0;
  appearance: none;
  background: none;
  color: inherit;
  font: inherit;
}

button:enabled {
  cursor: pointer;
}

.app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}
